footer{
    background-color: #464547;
    padding: 20px 140px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
footer img{
    width: 20px;
    height: 20px;
}

footer div, footer div a {
    font-size: 1.6rem;
    font-family: Source Sans Pro;
    font-style: normal;
    margin-top: 15px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}


footer div:nth-of-type(1){
    display: flex;   
}

footer div:nth-of-type(1) h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2px 0 0 15px;
}

footer div:nth-last-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer div:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}




