@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}

@media (max-width: 1200px){
    header nav{
        
        padding: 40px 0px !important;
    }
    header nav > div {
        margin-left: 50px !important;
    }
    main > div{
        padding: 50px 0px !important;
    }


}


@media (max-width: 768px){

    header nav ul{
        display: none !important;
    }

    header nav {
        display: flex !important;
        padding: 40px 60px !important;
        justify-content: space-between;
    
        
    }
    header nav > div {
        margin-left: 0px !important;
    }

    .burgerMenu{
        display: flex !important;
        align-self: right;
    }
    .burgerMenu img{
      max-width: 20px;
      max-height: 20px;
    } 
    main section{
        margin-left: 0px !important;
        align-items: flex-start !important;
        padding-left: 20px;
        
    }
    main section h2{
        text-align: left !important;
    }



    main section h3 {
        text-align: left !important;
    }
    main section div{
        display: flex !important;
        flex-direction: column !important;
        
    }
    main section div p{
        text-align: left !important;
    }
    main section button{
        align-items: left !important;
    }

    main > div{
        padding: 50px !important;
    }

    main > div h2, h3{
        text-align: center !important;
    }

    footer{
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    
}