header{
    background-image: url('/assets/headerbackground.png');
    background-size:cover;
    background-position: center;
    nav{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 40px 350px;
        >div{
            margin-left: 150px;
        }
        ul{
            display: flex;
            list-style: none;
            gap: 35px;
            li{
                &:hover{
                    border-bottom: 2px solid white;
                    
                }
                transition: 700ms;
                a{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 16px;
                }
            }
        }
        a{
            font-family: Source Sans Pro;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            line-height: 16px;
        }
    }
    div{
        a{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 16px;
        }
    }
    .burgerMenu {
        display: none;
        
    }
    .headline{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 180px 0 255px 0;
        img{
            max-width: 65px;
            margin-bottom: 20px;
            transform-origin: center center;
            transition: 1s linear;
            &:hover{
                transform: scaleX(-1) scale(1.27545);
            }

        }
        h1{
            color: #FFFFFF;
            font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 64px;
            text-align: center;
        }
        h2{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            font-size: 2.4rem;
            line-height: 32px;
            margin-top: 40px;
            color: rgba(255, 255, 255, 0.7);
            opacity: 70%;   
        }

    }
}


