@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap");
header {
  background-image: url("/assets/headerbackground.png");
  background-size: cover;
  background-position: center;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 40px 350px;
}

header nav > div {
  margin-left: 150px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 35px;
}

header nav ul li {
  -webkit-transition: 700ms;
  transition: 700ms;
}

header nav ul li:hover {
  border-bottom: 2px solid white;
}

header nav ul li a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

header nav a {
  font-family: Source Sans Pro;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  line-height: 16px;
}

header div a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

header .burgerMenu {
  display: none;
}

header .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 180px 0 255px 0;
}

header .headline img {
  max-width: 65px;
  margin-bottom: 20px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

header .headline img:hover {
  -webkit-transform: scaleX(-1) scale(1.27545);
          transform: scaleX(-1) scale(1.27545);
}

header .headline h1 {
  color: #FFFFFF;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 64px;
  text-align: center;
}

header .headline h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 2.4rem;
  line-height: 32px;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 70%;
}

main section {
  margin: 85px 120px 100px 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

main section h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 32px;
  text-align: center;
  margin-top: 40px;
  color: #666666;
}

main section p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
}

main section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Oswald;
  font-size: 1.4rem;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  border: none;
  background: #55C2D8;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 18px;
  margin-top: 100px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main section button:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

main section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 84px;
}

main section div p {
  max-width: 416px;
  max-height: 107px;
  text-align: left;
}

main > div {
  background-image: url("/assets/Rectangle 5.png"), url("/assets/secondbackground.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 84px 360px;
}

main > div h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

main > div h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

main > div button {
  color: white;
  padding: 32px 44px;
  font-size: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #39C2D7;
  border: none;
  border-radius: 100%;
  margin: 53px 0 70px 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

main > div button:hover {
  background: white;
  color: #39C2D7;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

main > div button span {
  margin-left: 5px;
}

footer {
  background-color: #464547;
  padding: 20px 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

footer img {
  width: 20px;
  height: 20px;
}

footer div {
  font-size: 1.6rem;
  font-family: Source Sans Pro;
  font-style: normal;
  margin-top: 15px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

footer div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div:nth-of-type(1) h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 2px 0 0 15px;
}

footer div:nth-of-type(1):last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer div:nth-of-type(1):nth-last-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div a {
  font-size: 1.6rem;
  font-family: Source Sans Pro;
  font-style: normal;
  margin-top: 15px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  header nav {
    padding: 40px 0px !important;
  }
  header nav > div {
    margin-left: 50px !important;
  }
  main > div {
    padding: 50px 0px !important;
  }
}

@media (max-width: 768px) {
  header nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 40px 60px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav ul {
    display: none !important;
  }
  header nav > div {
    margin-left: 0px !important;
  }
  header .burgerMenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-item-align: right;
        align-self: right;
  }
  header .burgerMenu img {
    max-width: 20px;
    max-height: 20px;
  }
  main section {
    margin-left: 0px !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    padding-left: 20px;
  }
  main section h2 {
    text-align: left !important;
  }
  main section h3 {
    text-align: left !important;
  }
  main section div {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  main section div p {
    text-align: left !important;
  }
  main section button {
    -webkit-box-align: left !important;
        -ms-flex-align: left !important;
            align-items: left !important;
  }
  main > div {
    padding: 50px !important;
  }
  main > div h2 {
    text-align: center !important;
  }
  main > div h3 {
    text-align: center !important;
  }
  footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */